flows.json
[
    {
        "id": "633262fa0d86b337",
        "type": "tab",
        "label": "Hello World",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "84705932569f66b1",
        "type": "http in",
        "z": "633262fa0d86b337",
        "name": "",
        "url": "/helloWorld",
        "method": "get",
        "upload": false,
        "swaggerDoc": "",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "b259185661602723"
            ]
        ]
    },
    {
        "id": "bef8d5f8b088e001",
        "type": "http response",
        "z": "633262fa0d86b337",
        "name": "",
        "statusCode": "200",
        "headers": {
            "status": "success"
        },
        "x": 740,
        "y": 400,
        "wires": []
    },
    {
        "id": "b259185661602723",
        "type": "change",
        "z": "633262fa0d86b337",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "{hello:world}",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 530,
        "y": 320,
        "wires": [
            [
                "bef8d5f8b088e001"
            ]
        ]
    }
]